/* add css module styles here (optional) */

.wcvVideoWrapper {
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
}
 
.wvcVideo:hover {
  cursor: pointer;
}

.wvcProgressBarWrapper {
  border: 1px solid #cdcdcd;
  display: flex;
  width: 100%;
  height: 5px;
  margin: 2px 0;
  border-radius: 2px;
}

.wvcProgressBar {
  border-radius: 2px;
  background-color: red;
}